<nav id="sidebar">
    <div class="logo-notify text-center pt-4">
        <img src="/img/LOGO_NOTIFY.svg" alt="Logo Notify">
    </div>

    <div class="sidebar-header navheader">
        {{!-- <img id="sidebar-img" class="img-fluid" src="/img/img1.png" alt="user image"/> --}}
        <img id="sidebar-img" class="img-fluid img-perfil"
            style="background-image: url(/img/uploadsImg/{{user.img_perfil}});" />
        {{!-- <span id="profileUserName" class="pt-2 d-flex justify-content-center">Hola {{user.nombre}}</span> --}}
    </div>

    <ul id="listmenu" class="list-unstyled components">
        {{!-- <p class="font-weight-bold">Gestor de Notificaciones</p> --}}

        {{!-- <li class="pt-4">
            <input type="checkbox" id="list-item-1">
            <label for="list-item-1" class="first txtstyle">Notificaciones<i
                    class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyEmqro/notificaciones/index" class="link-a">Urgentes</a></li>
                <li><a href="/notifyEmqro/proceso/index" class="link-a">En proceso</a></li>
                <li><a href="/notifyEmqro/concluidos/index" class="link-a">Concluidos</a></li>
            </ul>
        </li>  --}}
        <li class="pt-4">
            <a href="/notifyEmqro/notificaciones/index" class="link-a">Urgentes <span id="a-urg"></span></a>
        </li>
        <li>
            <a href="/notifyEmqro/proceso/index" class="link-a">En proceso <span id="a-proc"></span></a>
        </li>
        <li>
            <a href="/notifyEmqro/concluidos/index" class="link-a">Concluidos</a>
        </li>
        {{!-- <li>
                    <a href="/notifyEmqro/usuarios/index" class="link-a">Usuarios</a>

                </li> --}}
        <!--<li> 
                    <a href="/notifyEmqro/skydash/index">Skydash</a>
                </li>-->
        <li>
            <input type="checkbox" id="list-item-2">
            <label for="list-item-2" class="second txtstyle">Reporte<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyEmqro/descargar/index" class="link-a">Descargar Reporte</a></li>
                <li><a href="/notifyEmqro/reportes/index" class="link-a">Reporte Gráfico</a></li>
            </ul>
        </li>

        {{#if (supervisor user.idRol)}}
        <li>
            <input type="checkbox" id="list-item-3">
            <label for="list-item-3" class="second txtstyle">Crear<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyEmqro/crear_monitorista/index" class="link-a">Monitorista</a></li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="list-item-4">
            <label for="list-item-4" class="second txtstyle">Administrar<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyEmqro/administrar_monitoristas/index" class="link-a">Monitoristas</a></li>
            </ul>
        </li>
        <li>
            <a href="/notifyEmqro/papelera/index" class="link-a">Papelera</a>
        </li>
        {{/if}}
        {{#if (administrador user.idRol)}}
        <li>
            <input type="checkbox" id="list-item-3">
            <label for="list-item-3" class="second txtstyle">Crear<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyEmqro/crear_monitorista/index" class="link-a">Monitorista</a></li>
                <li><a href="/notifyEmqro/crear_supervisor/index" class="link-a">Supervisor</a></li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="list-item-4">
            <label for="list-item-4" class="second txtstyle">Administrar<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyEmqro/administrar_monitoristas/index" class="link-a">Monitoristas</a></li>
                <li><a href="/notifyEmqro/administrar_supervisores/index" class="link-a">Supervisores</a></li>
            </ul>
        </li>
        <li>
            <a href="/notifyEmqro/papelera/index" class="link-a">Papelera</a>
        </li>
        {{/if}}

        <li>
            <a href="/notifyEmqro/usuarios/edit/5" class="link-a">Mi cuenta</a>
        </li>
        <li>
            <a href="/notifyEmqro/ayuda/index" class="link-a">Manual</a>
        </li>
        <li>
            <a role="button" href="/logout" id="cerrarSesion">Cerrar Sesión</a>
        </li>
    </ul>
    {{!-- <div class="sidebar-footer pt-4">
                <span >Copyright © SKYGUARDIAN 2020.</span>
                <span >All rights reserved.</span>
            </div> --}}
</nav>


<div id="btn-float" class="button-float">
    <button class="btn-mostrar-ocultar" id="abrir" onclick="mostrar()"><i class="fa fa-thumbtack"></i></button>
    <button class="btn-mostrar-ocultar" id="cerrar" onclick="ocultar()"><i class="fa fa-thumbtack"></i></button>
</div>

<div id="content">

    <script>
        var urgentes, procesos;

        const modalComentNav = document.getElementById("modalComent");
        const modal_BMNav = document.getElementById("modal_BM");
        const modal_USCNav = document.getElementById("modal_USC");
        const modal_UBCNav = document.getElementById("modal_UBC");
        const modal_UDNav = document.getElementById("modal_UD");

        const modalComentNav2 = document.getElementById("modalComent2");
        const modalAdvert = document.getElementById("modalAdvert");

        const modalAdvert2 = document.getElementById("modalAdvert2");

        function ocultar() {

            document.getElementById("sidebar").style.width = "0";
            document.getElementById("abrir").style.display = "inline";
            document.getElementById("cerrar").style.display = "none";

            document.getElementById("btn-float").classList.remove("button-float");
            document.getElementById("btn-float").classList.add("button-float2");

            document.getElementById("content").style.width = "100%";
            document.getElementById("main-body").style.paddingLeft = "50px";
            document.getElementById("main-body").style.paddingRight = "50px";

            if (typeof modalComent !== "undefined" && typeof modal_BM !== "undefined" && typeof modal_USC !== "undefined" && typeof modal_UBC !== "undefined" && typeof modal_UD !== "undefined") {
                document.getElementById("modalComent").style.paddingLeft = "0px";
                document.getElementById("modal_BM").style.paddingLeft = "0px";
                document.getElementById("modal_USC").style.paddingLeft = "0px";
                document.getElementById("modal_UBC").style.paddingLeft = "0px";
                document.getElementById("modal_UD").style.paddingLeft = "0px";
            }

            if (typeof modalComentNav2 !== "undefined" && typeof modalAdvert !== "undefined") {
                document.getElementById("modalComent2").style.paddingLeft = "0px";
                document.getElementById("modalAdvert").style.paddingLeft = "0px";
            }

            if (typeof modalAdvert2 !== "undefined") {
                document.getElementById("modalAdvert2").style.paddingLeft = "0px";
            }

        }
        function mostrar() {
            document.getElementById("sidebar").style.width = "190px";
            document.getElementById("abrir").style.display = "none";
            document.getElementById("cerrar").style.display = "inline";
            document.getElementById("content").style.width = "calc(100% - 190px)";
            document.getElementById("main-body").style.paddingLeft = "15px";
            document.getElementById("main-body").style.paddingRight = "15px";

            document.getElementById("btn-float").classList.remove("button-float2");
            document.getElementById("btn-float").classList.add("button-float");

            if (typeof modalComent !== "undefined" && typeof modal_BM !== "undefined" && typeof modal_USC !== "undefined" && typeof modal_UBC !== "undefined" && typeof modal_UD !== "undefined") {
                document.getElementById("modalComent").style.paddingLeft = "190px";
                document.getElementById("modal_BM").style.paddingLeft = "190px";
                document.getElementById("modal_USC").style.paddingLeft = "190px";
                document.getElementById("modal_UBC").style.paddingLeft = "190px";
                document.getElementById("modal_UD").style.paddingLeft = "190px";
            }

            if (typeof modalComentNav2 !== "undefined" && typeof modalAdvert !== "undefined") {
                document.getElementById("modalComent2").style.paddingLeft = "190px";
                document.getElementById("modalAdvert").style.paddingLeft = "190px";
            }

            if (typeof modalAdvert2 !== "undefined") {
                document.getElementById("modalAdvert2").style.paddingLeft = "190px";
            }

        }

        function cantNot() {
            fetch('/countUrgProc', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((res) => res.json())
                .then((data) => {
                    if (data.resUrg[0].urgentes === 0) { urgentes = 0; } else { urgentes = data.resUrg[0].urgentes }
                    if (data.resProc[0].progresos === 0) { procesos = 0; } else { procesos = data.resProc[0].progresos }
                    document.getElementById("a-urg").innerHTML = "(" + urgentes + ")";
                    document.getElementById("a-proc").innerHTML = "(" + procesos + ")";
                })
                .catch((err) => console.log(err));
        }

        function totalnotf() {
            urgentes = urgentes + 1;
            document.getElementById("a-urg").innerHTML = "(" + urgentes + ")";
        }

        cantNot();
    </script>
    <main class="mt-4" id="main-body">