{{> navigation}}

<h2 class="mb-5">
    Crear Supervisor
</h2>

<div class="container contAlert">
    <div class="row">
        <div id="alerta" class="col-offset-1 col-10">
        </div>
    </div>
</div> 

<div class="container contForm">
    <div class="row"> 
        <div class="bg-white shadow-box col-offset-0 col-12 col-offset-lg-1 col-lg-10 colform mb-4">
            <form id="formulario">
                <div class="form-group row">
                    <label for="nombre" class="col-sm-4 col-form-label">Nombre (s)</label>
                    <div class="col-12 col-lg-8">
                        <input type="text" class="form-control" id="nombre" name="nombre" pattern="[a-zA-ZáéíóúñÑÓÚ ,.'-]{2,30}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="apellido" class="col-sm-4 col-form-label">Apellido (s)</label>
                    <div class="col-12 col-lg-8">
                        <input type="text" class="form-control" id="apellido" name="apellido" pattern="[a-zA-ZáéíóúñÑÓÚ ,.'-]{2,30}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correo" class="col-sm-4 col-form-label">Correo</label>
                    <div class="col-12 col-lg-8">
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-4 col-form-label">Contraseña</label>
                    <div class="col-12 col-lg-8">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div id="passerror" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rePassword" class="col-sm-4 col-form-label">Repetir contraseña</label>
                    <div class="col-12 col-sm-8">
                        <input type="password" class="form-control" id="rePassword" name="rePassword" required>
                        <div id="passerror2" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button id="submit" name="submit" type="submit" class="btn btn-dark mt-2 px-5">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

</main>            
</div>

<script>
    /////////////////////////////////VALIDAR CONTRASEÑAS
    //document.getElementById("submit").addEventListener("click", validarForm);
    var form = document.getElementById('formulario');
    form.onsubmit = validarForm.bind(form);

    function validarForm(e) {
        e.preventDefault();
        let pass = document.getElementById("password");
        let repass = document.getElementById("rePassword");

        if (pass.value.length >= 8 && pass.value.length <= 15) {
            document.getElementById("passerror").innerHTML = "";
            document.getElementById("passerror").style.display = "none";
            pass.classList.remove("is-invalid");

            var expreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}/;
            //var expreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}/; //Este no tiene la validacion de los espacios en blanco

            if (expreg.test(pass.value)) {
                if (repass.value === pass.value) {
                    document.getElementById("passerror2").innerHTML = "";
                    document.getElementById("passerror").style.display = "none";
                    repass.classList.remove("is-invalid");
                    var nombreInp = document.getElementById("nombre").value;
                    var apellidoInp = document.getElementById("apellido").value;
                    var correoInp = document.getElementById("correo").value;

                    fetch('/crear_supervisor', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            nombre: nombreInp,
                            apellido: apellidoInp,
                            correo: correoInp,
                            password: pass.value
                        })
                    })
                        .then((res) => res.json())
                        .then((data) => {
                            var html = '';
                            var divalerta = document.getElementById("alerta");

                            if (data.status === "correct"){
                                html = `<div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                                    ${data.msj}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>`;
                                divalerta.innerHTML = html;
                                
                                document.getElementById("formulario").reset(); 

                            } else if(data.status === "error"){
                                html = `<div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                                    ${data.msj}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>`;
                                divalerta.innerHTML = html;
                            }
                        })
                        .catch((err) => console.log(err));
                } else {
                    document.getElementById("passerror2").innerHTML = "";
                    document.getElementById("passerror2").innerHTML = "Las contraseñas no coinciden";
                    document.getElementById("passerror2").style.display = "block";
                    repass.classList.add("is-invalid");
                }

            } else {
                document.getElementById("passerror").innerHTML = "La contraseña debe contener al menos una letra mayúscula, una minuscula, un dígito, un caracter especial y no debe incluir espacios en blanco.";
                document.getElementById("passerror").style.display = "block";
                pass.classList.add("is-invalid");
            }

        } else if (pass.value.length === 0) {
            document.getElementById("passerror").innerHTML = "";
            document.getElementById("passerror").innerHTML = "Este campo no debe estar vacío.";
            ocument.getElementById("passerror").style.display = "block";
            pass.classList.add("is-invalid");

        } else {
            document.getElementById("passerror").innerHTML = "";
            document.getElementById("passerror").innerHTML = "La contraseña debe contener entre 8 y 15 caracteres.";
            document.getElementById("passerror").style.display = "block";
            pass.classList.add("is-invalid");
        }

    }
</script>