{{> navigation}}

<table class="table table-hover bg-dark" id="tabla-usuarios">
  <thead class="text-light">
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Rol</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-success">
        <td >Juan Francisco Benitez Vargas</td>
        <td>Supervisor</td>
        <td>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1"></label>
            </div>
        </td>
        <td>
            <a href="/notifyEmqro/usuarios/show/1" class="btn btn-primary text-light">Ver</a>
        </td>
    </tr>
    <tr class="table-danger">
      <td >Josslyn Mendiola Orta</td>


      <td>Monitorista</td>
      <td>
          <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2"></label>
            </div>
      </td>
      <td>
            <a href="/notifyEmqro/usuarios/show/2" class="btn btn-primary text-light">Ver</a>
        </td>
    </tr>
    <tr class="table-success">
        <td >Eduardo Emilio Tavarez Quezada</td> 

        <td>Supervisor</td>
        <td>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                <label class="custom-control-label" for="customSwitch3"></label>
            </div>
        </td>
        <td>
            <a href="/notifyEmqro/usuarios/show/3" class="btn btn-primary text-light">Ver</a>
        </td>
    </tr>
  </tbody>
</table>

</main>            
</div>