{{> navigation}}

<div class="mt-5"></div>

<div id="divAlert">{{> message}}</div>

{{#if resultados}}
<div class="content">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-dark mb-3" id="btn-mov-papelera">Mover a papelera</button>
        </div>
    </div>
</div>

<table class="table bg-lightgrey table-hover table-font-size sortable" id="tabla-notificaciones">
    <thead class="bg-gray">
        <tr>
            <th class="pointer" scope="col">Unidad</th>
            <th class="pointer" scope="col">Fecha/Hora</th>
            <th class="pointer" scope="col">A.P.C.</th>
            <th class="pointer" scope="col">A.U.C.</th>
            <th class="pointer" scope="col">Grupos</th>
            <th class="pointer" scope="col">Usuario</th>
            <th class="pointer" scope="col">Ubicación</th>
            <th class="sorttable_nosort" scope="col"></th>
        </tr>
    </thead>
    <tbody class="break-text" id="table-body">
    </tbody>
</table>
<div class="row">
    <div class="col-md-12 text-center d-flex justify-content-end">
        <ul id="pagination" class="pagination-sm"></ul>
    </div>
</div>
{{else}}
<div class="offset-1 col-10" style="margin-top: 72px;">
    <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
        No existen registros en la sección concluidos.
    </div>
</div>
{{/if}}

<!-- Modal -->
<div id="modalComent2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Comentarios</h3>
        </div>
        <form action="/concluidos_submit" method="POST" id="formComent">
            <div class="modalBody">
                <input id="idNot" name="idNot" type="hidden" value="">
                <div class="form-row mb-3">
                    <div class="col">
                        <label class="font-weight-bold" for="estado">Selecciona estado</label>
                        <select class="form-control" id="estado" name="estado">
                            {{#each estados}}
                            <option value="{{ id }}">{{ nombre }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modalFooter d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                <button type="button" class="btn btn-secondary" id="cancelar">Cancelar</button>
            </div>
        </form>
        <div id="historialTabla" class="historialTabla mt-3"></div>
    </div>
</div>

<!-- Modal 2-->
<div id="modalAdvert" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Atención</h3>
        </div>
        <div class="py-5 px-5">
            ¿Seguro que desea borrar la notificación?
        </div>
        <div class="modalFooter d-flex justify-content-end">
            <form action="/borrar_notificacion" method="POST">
                <input id="idNot3" name="idNot3" type="hidden" value="">
                <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="cancelar2">Cancelar</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal3-->
<div id="modal_mov" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Atención</h3>
        </div>
        <div class="py-5 px-5">
            Las notificaciones serán enviadas a papelera, ¿Seguro que desea continuar?
        </div>
        <div class="modalFooter d-flex justify-content-end">
            <form action="/sendTrash" method="POST">
                <input id="notificacionID" name="notificacionID" type="hidden" value="">
                <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="cancelar3">Cancelar</button>
            </form>
        </div>
    </div>
</div>

</main>
</div>

<script>

    /////////////////// MODAL
    var modal = document.getElementById("modalComent2");
    var modal2 = document.getElementById("modalAdvert");
    var modalMov = document.getElementById("modal_mov");
    var cancelar = document.getElementById("cancelar");
    var cancelar2 = document.getElementById("cancelar2");
    var cancelar3 = document.getElementById("cancelar3");
    var span = document.getElementsByClassName("cerrar")[0];
    var span2 = document.getElementsByClassName("cerrar")[1];
    var span3 = document.getElementsByClassName("cerrar")[2];

    cancelar.onclick = function () {
        modal.style.display = "none";
        document.getElementById("idNot").value = "";
        document.getElementById("historialTabla").innerHTML = "";
        document.getElementById('actividad').value = "1";
        document.getElementById('estado').value = "1";
        document.getElementById('comunicacion').value = "1";
        document.getElementById('comentarios').value = "";
    }
    span.onclick = function () {
        modal.style.display = "none";
        document.getElementById("historialTabla").innerHTML = "";
        document.getElementById("idNot").value = "";
        document.getElementById('actividad').value = "1";
        document.getElementById('estado').value = "1";
        document.getElementById('comunicacion').value = "1";
        document.getElementById('comentarios').value = "";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            modal2.style.display = "none";
            document.getElementById("idNot").value = "";
            document.getElementById("historialTabla").innerHTML = "";
            document.getElementById('actividad').value = "1";
            document.getElementById('estado').value = "1";
            document.getElementById('comunicacion').value = "1";
            document.getElementById('comentarios').value = "";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
        if (event.target == modalMov) {
            modalMov.style.display = "none";
        }
    }
    cancelar2.onclick = function () {
        modal2.style.display = "none";
    }
    span2.onclick = function () {
        modal2.style.display = "none";
    }
    cancelar3.onclick = function () {
        modalMov.style.display = "none";
    }
    span3.onclick = function () {
        modalMov.style.display = "none";
    }

    ////////////Abrir modal de mover a papelera
    document.getElementById('btn-mov-papelera').addEventListener("click", function () {
        var changeclass2 = document.getElementsByClassName("modal")[2];
        changeclass2.style.display = "block";
    });

    /////////////Pasa el id cuando se abre modal
    function idPass(id) {
        var changeclass = document.getElementsByClassName("modal")[0];
        changeclass.style.display = "block";

        document.getElementById("idNot").value = id;
        historial(id);
    }

    /////////////////////Mandar id por el metodo POST para mostrar el historial
    function historial(id) {

        let divTabla = document.getElementById("historialTabla");

        fetch('/concluidos_historial', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: id })
        })
            .then((res) => res.json())
            .then((data) => {
                var html = '';
                if (data.msj === "") {
                    html += `<table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Comunicación</th>
                                    <th scope="col">Actividad</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                            </thead>
                            <tbody>`;
                    data.coment.forEach(com => {
                        html += `<tr>
                            <th scope="row">${com.fecha}</th>
                            <td>${com.comunicacion}</td>
                            <td>${com.nombreAct}</td>
                            <td>${com.texto}</td>
                            <td>${com.nombre} ${com.apellido}</td>
                        </tr>`
                    });
                    html += `</tbody></table>`;
                    divTabla.innerHTML = html;
                } else {
                    html += `<div class="alert alert-warning" role="alert">${data.msj}</div>`;
                    divTabla.innerHTML = html;
                }
            })
            .catch((err) => console.log(err));
    }

    //Borrar notificacion
    function borrar(id) {
        var modalAd = document.getElementsByClassName("modal")[1];
        modalAd.style.display = "block";

        document.getElementById("idNot3").value = id;
    }

    /////////Paginacion
    var $pagination = $('#pagination'),
        totalRecords = 0,
        records = [],
        displayRecords = [],
        recPerPage = 18,
        totalPages = 0,
        page = 1;

    function actualizar2() {
        fetch('/notconcl', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then((res) => res.json())
            .then((data) => {
                records = data.results;
                totalRecords = records.length;
                totalPages = Math.ceil(totalRecords / recPerPage);
                apply_pagination();

            })
            .catch((err) => console.log(err));
    }

    function generate_table() {
        var tr;
        $('#table-body').html('');
        for (var i = 0; i < displayRecords.length; i++) {

            if (displayRecords[i].apc === null) {
                displayRecords[i].apc = "";
            }
            if (displayRecords[i].auc === null) {
                displayRecords[i].auc = "";
            }
            if (displayRecords[i].usuario === null) {
                displayRecords[i].usuario = "";
            }
            if (displayRecords[i].grupo === null) {
                displayRecords[i].grupo = "";
            }
            if (displayRecords[i].nombreNotif === null) {
                displayRecords[i].nombreNotif = "";
            }

            tr = $('<tr/>');
            tr = $('<tr>');
            tr.append('<td class="font-weight-bold">' + displayRecords[i].idUnidad + '</td>');
            tr.append("<td class='text-center'>" + displayRecords[i].fecha + "</td>");
            tr.append("<td>" + displayRecords[i].apc + "</td>");
            tr.append("<td>" + displayRecords[i].auc + "</td>");
            tr.append("<td>" + displayRecords[i].grupo + "</td>");
            tr.append("<td>" + displayRecords[i].usuario + "</td>");
            tr.append('<td><a href="https://maps.google.com/?q=' + displayRecords[i].longitude + ',' + displayRecords[i].latitude + '" target="_blank">' + displayRecords[i].nombreNotif + '</a></td>');
            tr.append('<td class="d-flex"><button type="button" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Comentarios" onclick="idPass(' + displayRecords[i].id + ')"> <i class="fa fa-edit"></i></button><button class="btn-trash" data-toggle="tooltip" data-placement="bottom" title="Eliminar" onclick="borrar(' + displayRecords[i].id + ')"><i class="fa fa-trash"></i></button></td>');
            $('#table-body').append(tr);
        }
    }
    function apply_pagination() {
        $pagination.twbsPagination({
            totalPages: totalPages,
            visiblePages: 6,
            startPage: page,
            initiateStartPageClick: true,
            next: 'Siguiente',
            prev: 'Anterior',
            first: 'Inicio',
            last: 'Último',
            onPageClick: function (event, page) {
                displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
                endRec = (displayRecordsIndex) + recPerPage;
                displayRecords = records.slice(displayRecordsIndex, endRec);
                generate_table();
            }
        });
    }

    actualizar2();
</script>

<script>
    /*var spanBM = document.getElementById("bloqMotor");
    var spanUSC = document.getElementById("unidadesSC");
    var spanZBC = document.getElementById("zonaBC");
    var spanUD = document.getElementById("unidDetenidas");*/
</script>